---
# Source: jellyfin/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  labels:
    helm.sh/chart: jellyfin-2.3.0
    app.kubernetes.io/name: jellyfin
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "10.10.6"
    app.kubernetes.io/managed-by: Helm
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
      app.kubernetes.io/instance: release-name
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2026-01-18T05:30:00Z"
      labels:
        helm.sh/chart: jellyfin-2.3.0
        app.kubernetes.io/name: jellyfin
        app.kubernetes.io/instance: release-name
        app.kubernetes.io/version: "10.10.6"
        app.kubernetes.io/managed-by: Helm
    spec:
      serviceAccountName: jellyfin
      securityContext:
        fsGroup: 1000
      containers:
        - name: jellyfin
          securityContext:
            runAsGroup: 1000
            runAsUser: 1000
          image: "docker.io/jellyfin/jellyfin:10.10.6"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8096
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 10
            tcpSocket:
              port: http
          readinessProbe:
            initialDelaySeconds: 10
            tcpSocket:
              port: http
          resources:
            limits:
              nvidia.com/gpu: 1
            requests:
              nvidia.com/gpu: 1
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /media
              name: media
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: media
          persistentVolumeClaim:
            claimName: jellyfin-media
      nodeSelector:
        nvidia.com/gpu: "true"
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: jellyfin
              topologyKey: kubernetes.io/hostname
            weight: 100
      runtimeClassName: "nvidia"
