apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-credentials
  namespace: monitoring
type: Opaque
stringData:
  username: elastic
  # Apply manually: kubectl create secret generic elasticsearch-credentials -n monitoring --from-literal=username=elastic --from-literal=password=<YOUR_PASSWORD>
  password: CHANGE_ME
