controllers:
  main:
    type: deployment
    replicas: 1
    pod:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/qbittorrent
          tag: latest
          pullPolicy: IfNotPresent
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          allowPrivilegeEscalation: true
          capabilities:
            drop: ["ALL"]
            add: ["SETUID", "SETGID", "CHOWN"]
        env:
          PUID: "1000"
          PGID: "1000"
          TZ: "America/Los_Angeles"
          UMASK: "002"
          WEBUI_PORT: "8080"
        ports:
          - name: webui
            containerPort: 8080
            protocol: TCP
          - name: bittorrent-tcp
            containerPort: 6881
            protocol: TCP
          - name: bittorrent-udp
            containerPort: 6881
            protocol: UDP
        probes:
          startup:
            enabled: true
            custom: true
            spec:
              tcpSocket: { port: 8080 }
              initialDelaySeconds: 10
              periodSeconds: 5
              failureThreshold: 120
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet: { path: "/", port: 8080 }
              initialDelaySeconds: 60
              periodSeconds: 10
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet: { path: "/", port: 8080 }
              initialDelaySeconds: 30
              periodSeconds: 5

service:
  main:
    controller: main
    type: LoadBalancer
    annotations:
      metallb.universe.tf/allow-shared-ip: media-shared
    loadBalancerIP: 192.168.1.226
    ports:
      webui:
        port: 8080
        targetPort: webui
        protocol: TCP
      bittorrent-tcp:
        port: 6881
        targetPort: bittorrent-tcp
        protocol: TCP
      bittorrent-udp:
        port: 6881
        targetPort: bittorrent-udp
        protocol: UDP

persistence:
  config:
    enabled: true
    accessMode: ReadWriteMany
    size: 1Gi
    storageClass: k8s-nfs
    globalMounts:
      - path: /config

  media:
    enabled: true
    existingClaim: jellyfin-media
    globalMounts:
      - path: /media
